
.ng-enter {
  transition: 1s;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

.ng-leave {
  transition: 1s;
  opacity: 0;
}

.ng-leave-active {
  opacity: 1;
}

.ng-move {
  transition: 1s;
  opacity: 0;
}

.ng-move-active {
  opacity: 1;
}
