<!DOCTYPE html>
<html lang="en" ng-app="redditClone">
<head>
  <meta charset="UTF-8">
  <title>Reddit Clone</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body class="ng-cloak"  ng-controller="articles">

  <nav>
    <h1>Reddit Clone</h1>
    <a ng-click="showForm()">Submit Post</a>
    <select  ng-model="sortBy">
      <option value="votes">Sort By Votes</option>
      <option value="title">Sort By Title</option>
      <option value="date">Sort By Date</option>
    </select>
  </nav>

  <form  ng-show="form > 0" ng-submit="submit()">
    <label for="title">Title</label>
    <input type="text" id="title" placeholder="Title" ng-model="title">
    <label for="author">Author</label>
    <input type="text" id="author" placeholder="Author" ng-model="author">
    <label for="imageURL">Image URL</label>
    <input type="text" id="imageURL" placeholder="Image URL" ng-model="imageURL">
    <label for="description">Description</label>
    <input type="text" id="description" placeholder="Description" ng-model="foo">

    <input type="submit" value="Submit Post">
  </form>
  <input type="search" placeholder="Search" ng-model="search">

  <div ng-repeat="post in posts | filter:search | orderBy: sortBy ">
      <p><h3>{{post.title}} | <a ng-click="upVote(post.votes)"><i class="fa fa-arrow-up"></i></a> <a href=""><i class="fa fa-arrow-down"></i></a> {{post.votes}}</h3></p>
      <p><h5>{{post.author}}</h5></p>
      <p>{{post.foo}}</p>
      <img ng-src="{{post.imageURL}}" height="150" width="150">
      <p>{{post.date}} | {{post. comments}} | <a>Add Comment</a></p>
  </div>

  <script src="./app.js"></script>

</body>
</html>
