.post {
  position: relative;
  background-color: rgb(218, 218, 218);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  min-height: 200px;
  margin-left: 10%;
  margin-bottom: 15px;
  margin-top: 20px;

  p, h3, h5 {
    line-height: 2;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

.image, .content {
  float: left;
}

.content {
  min-height: 150px;
  h3 {
    display: inline !important;
  }
}

.image {
  margin-right: 10px;
  height:150px;
  width: 150px;
  margin-bottom: 20px;
}

.miniNav {
  position: relative;
  top: 30px;
}
